<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="us.isLoaded(loading)">
    <br>
    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" group-by="plataforma" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
    </angular2-multiselect>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let product of selectedItems" style="height: 500px;">
                <div class="card wow fadeInUp h-100 d-inline-block">

                    <!--Card image-->
                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <div id="yourElement" [ngStyle]="{
                            'background-image': 'url(&quot;' + product.imagen + '&quot;)',
                            '-webkit-background-size': '100% 100%',
                            '-moz-background-size': '100% 100%',
                            '-o-background-size': '100% 100%',
                            'background-size': '100% 100%',
                            'background-repeat': 'no-repeat',
                            'height': '200px'
                        }">
                        <div *ngIf="!product.tieneStock" class="badge-nostock">Sin Stock</div>
                    </div>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{product.titulo}}</h4>
                        <!--Text-->
                        <p class="card-text">{{product.descripcion}}</p>
                        <a class="btn btn-primary waves-light" mdbRippleRadius (click)="verDetalles(product)">Detalles</a>
                        <button class="btn btn-primary btn-circle btn-lg waves-light zoom" *ngIf="!hideCarrito" [disabled]="!product.tieneStock" mdbTooltip="Agregar al carrito" (click)="agregarAlcarrito(product, addToCarrito)" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addToCarrito let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Debe estar Logueado</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Debe estar logueado para agregar productos al carrito</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>

<p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> Ocurrio un error al traer datos de videojuegos. Por favor, intente recargar la pagina.
</p>