<br>
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" group-by="gender" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
    (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let product of dropdownList">
            <div class="card wow fadeInUp">

                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="../../../assets/slider/mario_odyssey.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{product.itemName}}</h4>
                    <!--Text-->
                    <p class="card-text">El juego mas reciente de nuestro amigo plomero mata hongos.</p>
                    <a class="btn btn-primary waves-light" mdbRippleRadius>Detalles</a>
                    <a class="btn btn-primary btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>