<div class="container layout-view">
  <div class="row justify-content-center">

    <h2 style="margin-bottom: 5%; font-family: Verdana, Geneva, Tahoma, sans-serif">{{tituloForm}}</h2>
    <form class="fullwidth" [formGroup]="formVideojuegos" id="videojuegos" (ngSubmit)="onSubmit()" name="videojuegos">
      <mat-form-field  class="fullwidth">
        <input id="titulo" matInput placeholder="Titulo" formControlName="titulo" [maxlength]="fvs.titleMax" [matAutocomplete]="auto">
        <!--<label for="titulo">Titulo</label>-->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field >
      <div
      *ngIf="formErrors.titulo"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.titulo">
    </div>

      <div class="md-form fullwidth">
        <input type="text" id="codigo" class="form-control" formControlName="codigo" [maxlength]="fvs.codStr" mdbActive>
        <label for="codigo">Codigo</label>
      </div>
      <div
      *ngIf="formErrors.codigo"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.codigo">
    </div>

      <mat-form-field class="fullwidth">
        <mat-select placeholder="Genero" formControlName="genero" multiple required>
          <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div
      *ngIf="formErrors.genero"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.genero">
      </div>

      <br>
      
      <mat-form-field class="fullwidth">
        <mat-select placeholder="Plataforma" formControlName="plataforma" required>
          <mat-option *ngFor="let plat of plataformas" [value]="plat.value">{{plat.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div
      *ngIf="formErrors.plataforma"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.plataforma">
      </div>

      <br>
      <div class="md-form fullwidth">
        <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="cantMinima" class="form-control" formControlName="cantMinima" mdbActive [maxlength]="fvs.intMax">
        <label for="cantMinima">Cantidad Min</label>
      </div>
      <div
      *ngIf="formErrors.cantMinima"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.cantMinima">
    </div>

      <div class="md-form fullwidth">
        <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="cantMaxima" class="form-control"  formControlName="cantMaxima" [maxlength]="fvs.intMax" mdbActive>
        <label for="cantMaxima">Cantidad Max</label>
      </div>
      <div
      *ngIf="formErrors.cantMaxima"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.cantMaxima">
    </div>

      <div class="md-form fullwidth">
        <input type="text" id="urlVideo" class="form-control" formControlName="urlVideo" mdbActive>
        <label for="urlVideo"> URL Video</label>
      </div>
      <div
      *ngIf="formErrors.urlVideo"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.urlVideo">
    </div>

      <div class="md-form fullwidth">
        <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="precio" class="form-control" formControlName="precio" [maxlength]="fvs.intMax" mdbActive>
        <label for="precio">Precio</label>
      </div>
      <div
      *ngIf="formErrors.precio"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.precio">
    </div>

      <mat-checkbox class="fullwidth" formControlName="destacado">Destacado</mat-checkbox>
      <br>
       <br>
      <div class="md-form fullwidth">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="onFileSelected($event)" #fileInput required>
            <label class="custom-file-label">{{selectedFile.name}}</label>
          </div>
        </div>
      </div>
      <div class="small text-danger formErrors" *ngIf="selectedFile.name == 'Seleccione Imagen'">
        Debe seleccionar una <strong>imagen</strong>
      </div>
      <br>

      <mat-form-field class="fullwidth">
        <textarea matInput placeholder="Descripcion" formControlName="descripcion" rows="2"></textarea>
      </mat-form-field>
      <div
      *ngIf="formErrors.descripcion"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.descripcion">
    </div>


      <div class="text-center">
        <button class="btn btn-success waves-light" mdbRippleRadius [disabled]="formVideojuegos.invalid || !seleccionoArchivo || submitting ? true : null" [innerText]="submitBtnText"></button>
      </div>

      <app-submitting *ngIf="submitting"></app-submitting>

      <p *ngIf="error" class="mt-3 alert alert-danger">
        <strong>Error:</strong> {{errMsg}}.
      </p>
    </form>




  </div>
</div>