<nav class="navbar navbar-expand-sm navbar-light fixed-top unique-color-dark justify-content-between">
  <ul class="navbar-nav d-flex justify-content-around w-100">
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-white" routerLink="/videojuegos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">JUEGOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-white" routerLink="/game-details" href="#">OFERTAS</a>
        </li>
        <li class="nav-item">
              <a class="nav-link font-weight-bold text-white">PREVENTA</a>
        </li>
    </ul>
  
  <a class="navbar-brand text-white font-weight-bold border rounded px-3 m-auto" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> P A D O G I </a>

    <ul class="navbar-nav d-flex justify-content-around w-100">
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-white">FAQ</a>
        </li>
      <li class="nav-item">
          <a class="nav-link font-weight-bold text-white" routerLink="/wrapper-login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">LOGIN</a>
      </li>
      
      <li class="nav-item">
            <a class="nav-link font-weight-bold text-white" routerLink="/cart-wizard" routerLinkActive="active">
                <i class="material-icons align-middle">shopping_cart</i>
            </a>
      </li>
    </ul>
</nav>