<nav class="navbar navbar-expand-sm navbar-light fixed-top unique-color-dark justify-content-between">
    <ul class="navbar-nav d-flex d-row">
        <a class="navbar-brand text-white font-weight-bold border rounded px-3" routerLink="/" routerLinkActive="active">
                P A D O G I </a>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/videojuegos" routerLinkActive="active">Juegos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/ofertas" routerLinkActive="active">Ofertas</a>
        </li>
    </ul>
    <ul class="navbar-nav d-flex d-row">
        <li *ngIf="loggedIn" class="nav-item btn-group" dropdown>
        <!--<li *ngIf="loggedIn" class="nav-item btn-group" dropdown>-->
                <a dropdownToggle class="nav-link font-weight-bold text-white" mdbRippleRadius>
                    Perfil
                </a>
                <div class="dropdown-menu">
                    <a class="nav-link font-weight-bold" *ngIf="cliente" routerLink="/pedidos" routerLinkActive="active">Mis Pedidos</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-slideshow" routerLinkActive="active">Slideshow</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-videojuegos" routerLinkActive="active">Gestion Videojuegos</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-videojuegos-form" routerLinkActive="active">Form Videojuegos</a>
                    <a class="nav-link font-weight-bold" *ngIf="empleado || admin" routerLink="/usuarios" routerLinkActive="active">Gestion Usuarios</a>
                    <a class="nav-link font-weight-bold" *ngIf="empleado || admin" routerLink="/admin-usuarios-form" routerLinkActive="active">Form Usuarios</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-empleados" routerLinkActive="active">Gestion Empleados</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-empleados-form" routerLinkActive="active">Form Empleados</a>
                    <a class="nav-link font-weight-bold" *ngIf="empleado || admin" routerLink="/admin-stock" routerLinkActive="active">Reponer Stock</a>
                    <a class="nav-link font-weight-bold" *ngIf="empleado || admin" routerLink="/admin-consulta-stock" routerLinkActive="active">Consultar Stock</a>
                    <a class="nav-link font-weight-bold" *ngIf="empleado || admin" routerLink="/admin-descuentos" routerLinkActive="active">Gestionar Descuentos</a>
                    <a class="nav-link font-weight-bold" *ngIf="admin" routerLink="/admin-cupon-descuento" routerLinkActive="active">Gestionar Cupones</a>
                </div>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
                <a class="nav-link text-white" routerLink="/wrapper-login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link text-white" routerLink="/cart-wizard" routerLinkActive="active">
                    <i class="material-icons align-middle">shopping_cart</i><span>({{videojuegosCarrito.length}})</span>
                </a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
                <a class="nav-link text-white" routerLink="/wrapper-login" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
    </ul>
</nav>