<nav class="navbar navbar-expand-sm navbar-light fixed-top unique-color-dark justify-content-between">
    <ul class="navbar-nav d-flex d-row">
        <a class="navbar-brand text-white font-weight-bold border rounded px-3" routerLink="/" routerLinkActive="active">
                P A D O G I </a>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/videojuegos" routerLinkActive="active">Juegos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/game-details" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white">Preventa</a>
        </li>
    </ul>

    <ul class="navbar-nav d-flex d-row">

        <li *ngIf="loggedIn" class="nav-item">
            <a class="nav-link text-white" routerLink="/wrapper-login" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
            <li class="nav-item btn-group" dropdown>
        <!--<li *ngIf="loggedIn" class="nav-item btn-group" dropdown>-->
                <a dropdownToggle class="nav-link font-weight-bold text-white" mdbRippleRadius>
                    Perfil
                </a>
            
                <div class="dropdown-menu">
                    <a class="nav-link font-weight-bold" routerLink="/pedidos" routerLinkActive="active">Mis Pedidos</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-slideshow" routerLinkActive="active">Slideshow</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-videojuegos" routerLinkActive="active">Gestion Videojuegos</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-videojuegos-form" routerLinkActive="active">Form Videojuegos</a>
                    <a class="nav-link font-weight-bold" routerLink="/usuarios" routerLinkActive="active">Gestion Usuarios</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-empleados" routerLinkActive="active">Gestion Empleados</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-empleados-form" routerLinkActive="active">Form Empleados</a>
                    <a class="nav-link font-weight-bold" routerLink="/admin-stock" routerLinkActive="active">Reponer Stock</a>

                </div>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
                <a class="nav-link text-white" routerLink="/wrapper-login" routerLinkActive="active">Login</a>
        </li>
        <!--<li *ngIf="loggedIn" class="nav-item">-->
        <li class="nav-item">
                <a class="nav-link text-white" routerLink="/cart-wizard" routerLinkActive="active">
                    <i class="material-icons align-middle">shopping_cart</i>
                </a>
        </li>

    </ul>
</nav>