<footer class="page-footer unique-color-dark center-on-small-only wow fadeInUp top mt-5"> 

  <!--Footer Links-->
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h5 class="title locales">Nuestros Locales</h5>
          </div>
      </div>
      <hr />
      <div class="row">

          <!--First column-->
          <div class="col-md-4 col-sm-12">
            <h5 class="title center">Sucursal Microcentro</h5>
            <p class="center direccion">Paraguay 1050</p>
            <p class="center telefono">4325-0879</p>
            <p class="center direccion">Lunes a Sabado: 09 a 18 hs</p>
          </div>
          <!--/.First column-->
          <div class="col-md-4 col-sm-12">
            <h5 class="title center">Sucursal La Paternal</h5>
            <p class="center direccion">Av. Sarmiento 720</p>
            <p class="center telefono">4922-5717</p>
            <p class="center direccion">Lunes a Sabado: 09 a 18 hs</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h5 class="title center">Sucursal Puerto Madero</h5>
            <p class="center direccion">Juana Manso 1240</p>
            <p class="center telefono">4307-1818</p>
            <p class="center direccion">Lunes a Sabado: 09 a 18 hs</p>
          </div>
      </div>
      <hr />
      <div class="row">
          <div class="col-md-12">
            <h5 class="title followus">Siguenos!</h5>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <a href="#"><img src="../../assets/social/instagram.png" class="social zoom"/></a>
        </div>
        <div class="col-md-4 col-sm-12">
          <a href="#"><img src="../../assets/social/facebook.png" class="social zoom"/></a>
        </div>
        <div class="col-md-4 col-sm-12">
          <a href="#"><img src="../../assets/social/twitter.png" class="social zoom"/></a>
        </div>
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
      <div class="container-fluid">
    <p> © 2018 Copyright: Padogi videojuegos </p>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->