<footer class="page-footer unique-color-dark center-on-small-only wow fadeInUp top mt-5"> 

  <!--Footer Links-->
  <div class="container">
      <div class="row">

          <!--First column-->
          <div class="col-md-6">
              <h5 class="title">Footer Content</h5>
          </div>
          <!--/.First column-->
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
      <div class="container-fluid">
    <p> © 2017 Copyright: Padogi videojuegos </p>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->