.badge-nostock {
    background: rgb(187,0,0) none repeat scroll 0 0;
    color: #fdfdfd;
    display: block;
    margin-left: -8%;
    border: 1px solid #d8d8d8;
    font-weight: normal;
    height: 30px;
    border-radius: 100px;
    letter-spacing: .05em;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 90%;
    width: 60%;
}