<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="us.isLoaded(loading)">
  <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
    <mat-tab label="{{sucursalTabUno}}">
      <app-stock-sucursal [sucursal]="sucursalUno"></app-stock-sucursal>
      <!--<div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilterUno($event.target.value)" placeholder="Buscar Juego">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">

        
          <mat-table #sortUno="matSort" [dataSource]="dataSourceUno" matSort>
        
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Codigo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Titulo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.titulo}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="plataforma">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Plataforma </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.plataforma}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="stock">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Stock </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.stock}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reponer">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Cantidad a reponer </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.reponer}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns" class="mdb-color darken-3"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator #paginatorUno [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>-->
    </mat-tab>

    <mat-tab label="{{sucursalTabDos}}" *ngIf="admin">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilterDos($event.target.value)" placeholder="Buscar Juego">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">

          <mat-table #sortDos="matSort" [dataSource]="dataSourceDos" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Codigo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Titulo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.titulo}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="plataforma">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Plataforma </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.plataforma}} </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="stock">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Stock </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.stock}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reponer">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Cantidad a reponer </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.reponer}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns" class="mdb-color darken-3"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator #paginatorDos [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
    </mat-tab>

    <mat-tab label="{{sucursalTabTres}}" *ngIf="admin">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilterTres($event.target.value)" placeholder="Buscar Juego">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">

          <mat-table #sortTres="matSort" [dataSource]="dataSourceTres" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Codigo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>
        
            <!-- Progress Column -->
            <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Titulo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.titulo}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="plataforma">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Plataforma </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.plataforma}} </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="stock">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Stock </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.stock}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reponer">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Cantidad a reponer </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.reponer}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns" class="mdb-color darken-3"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator #paginatorTres [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
  <p *ngIf="error" class="alert alert-danger">
      <strong>Oops!</strong> Ocurrio un error al traer datos de videojuegos.
  </p>


