<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3 offset">
      <img src="../../assets/playstation.png" class="img-size" />
      <h3 class="titulo">Playstation 4</h3>
      <p class="texto">
        Los juegos de PS4 compatibles con HDR cobran vida con increíbles colores y claridad en un televisor HDR, que ofrece una gama de colores más vibrante y realista. Independientemente de que juegues en PS4 o PS4 Pro, te esperan los mejores superventas, increíbles juegos exclusivos para PlayStation y los títulos más inmersivos.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 offset">
      <img src="../../assets/nintendo-switch.png" class="img-size" />
      <h3 class="titulo">Nintendo Switch</h3>
      <p class="texto">
        La consola Nintendo Switch está diseñada para acompañarte dondequiera que vayas, transformándose de consola para el hogar a consola portátil en un instante. Así tendrás más ocasiones para disfrutar de tus juegos favoritos como más te guste. Piérdete en una aventura épica o acelera para ganar. Nintendo Switch puede con todo.
      </p>
    </div>
    <div class="col-sm-12 col-md-3 offset">
      <img src="../../assets/xbox.png" class="img-size" />
      <h3 class="titulo">Xbox One</h3>
      <p class="texto">
        Con Xbox One puedes jugar a más de 1.300 juegos geniales desde los más exitosos y las franquicias más populares hasta tres generaciones de juegos favoritos que puedes volver a jugar o experimentar por primera vez. La única consola diseñada para jugar los mejores juegos del pasado, el presente y el futuro.
      </p>
    </div>
  </div>
</div>