<div class="card">
  <div class="card-header success-color white-text">
      Featured
  </div>
  <div class="card-body">
    <form>
      <p class="h5 mb-4">Sign up</p>
  
      <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control" mdbActive>
          <label for="orangeForm-name">Nombre</label>
      </div>
      <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control" mdbActive>
          <label for="orangeForm-email">Email</label>
      </div>
  
      <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
          <label for="orangeForm-pass">Password</label>
      </div>

      <div class="md-form">
        <i class="fa fa-phone prefix grey-text" aria-hidden="true"></i>
        <input type="number" id="orangeForm-pass" class="form-control" mdbActive>
        <label for="orangeForm-pass">Telefono</label>
      </div>

      <div class="md-form">
        <i class="fa fa-address-card-o prefix grey-text" aria-hidden="true"></i>
        <input type="number" id="orangeForm-pass" class="form-control" mdbActive>
        <label for="orangeForm-pass">Dni</label>
      </div>

      <div class="md-form">
        
      </div>
  
      <div class="text-center">
          <button class="btn btn-success waves-light" mdbRippleRadius>Registrarse</button>
      </div>
  
    </form>
  </div>
  <div class="card-footer text-muted success-color white-text">
      
  </div>
</div>