<!-- BASE WIZARD CARRITO DE COMPRAS -->
<section class="container">
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">

    <!-- PASO 1 MI CARRITO -->
    <mat-step label="MI COMPRA">
      <div class="container">
        <div class="row pt-5">
          <div class="col-8">

            <h5>CARRITO DE COMPRAS</h5>
            <mat-divider class="mb-3"></mat-divider>

            <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
          </div>
          <div class="col-4">
            <div class="row border border-dark justify-content-center p-3">
              <div class="col-12 d-flex justify-content-between align-items-center alert alert-dark p-2 m-0">
                <label>Subtotal:</label>
                <span>$ 2000.00</span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Costo de envio:</label>
                <span> - </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Descuentos:</label>
                <span> - </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Total:</label>
                <span> - </span>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <button matStepperNext type="button" class="btn btn-block btn-elegant waves-light font-weight-bold">
                CONTINUAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-step>

    <!-- PASO 2 ENTREGA -->
    <mat-step label="ENTREGA">

      <div class="container">

        <div class="row pt-5">

          <div class="col-12 col-lg-8 d-flex flex-column">

            <div class="container">
              <h5>FORMA DE ENTREGA</h5>

              <mat-divider class="mb-3"></mat-divider>

              <mat-radio-group class="d-flex flex-row justify-content-start mb-5" [(ngModel)]="formaEntrega">
                <mat-radio-button class="mr-5" labelPosition="before" [value]="1">
                  <span>Retiro en sucursal</span>
                </mat-radio-button>
                <mat-radio-button labelPosition="before" [value]="2">
                  <span>Envio a domicilio</span>
                </mat-radio-button>
              </mat-radio-group>

              <div *ngIf="formaEntrega == 1">
                <mat-form-field class="w-75">
                  <mat-select placeholder="Selecciona una sucursal">
                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                      {{ sucursal.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="formaEntrega == 2">

                <mat-form-field class="w-75">
                  <mat-select [(ngModel)]="domicilioSelect" placeholder="Seleccione un domicilio">
                    <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                      {{ sucursal.name }}
                    </mat-option>
                    <mat-option [value]="'domicForm'">
                      Otro domicilio
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-accordion *ngIf="domicilioSelect == 'domicForm'">
                  <mat-expansion-panel class="w-75">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Datos de envio
                      </mat-panel-title>
                      <mat-panel-description>
                        complete datos del domicilio de entrega
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="d-flex flex-column">

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Barrio">
                      </mat-form-field>
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Calle y altura">
                      </mat-form-field>
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Codigo postal">
                      </mat-form-field>
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Piso y departamento">
                      </mat-form-field>
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Observaciones">
                      </mat-form-field>

                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-4">
            <div class="row border border-dark justify-content-center p-3">
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Subtotal:</label>
                <span>$ 2000.00</span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center alert alert-dark p-2 m-0">
                <label>Costo de envio:</label>
                <span> $ 200 </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Descuentos:</label>
                <span> - </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Total:</label>
                <span> - </span>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <button matStepperNext class="btn btn-block btn-elegant waves-light font-weight-bold">
                CONTINUAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-step>


    <!-- PASO 3 PAGO -->
    <mat-step label="PAGO">

      <div class="container">

        <div class="row pt-5">

          <div class="col-12 col-lg-8 d-flex flex-column">

            <div class="container">
              <h5>MEDIO DE PAGO</h5>

              <mat-divider class="mb-3"></mat-divider>

              <mat-radio-group class="d-flex flex-row justify-content-start mb-5" [(ngModel)]="formaPago">
                <mat-radio-button class="mr-5" labelPosition="before" [value]="1">
                  <span>Efectivo en sucursal</span>
                </mat-radio-button>
                <mat-radio-button labelPosition="before" [value]="2">
                  <span>Tarjeta</span>
                </mat-radio-button>
              </mat-radio-group>

              <div *ngIf="formaPago == 1">
                <div class="alert alert-danger" role="alert">
                  Su pedido sera reservado por 7 días hábiles a partir de la fecha de compra, en caso de no retirarlo en dicho periodo usted
                  podrá ser
                  <b>penalizado</b>.
                </div>
              </div>

              <div *ngIf="formaPago == 2">

                <mat-form-field floatLabel="never" class="w-75">
                  <mat-select [(ngModel)]="formaPagoSelect" placeholder="Seleccione una tarjeta">
                    <mat-option *ngFor="let tarjeta of tarjetas" [value]="tarjeta.id">
                      <span>{{tarjeta.marca}} terminada en
                        <b>{{tarjeta.num}}</b>
                      </span>
                    </mat-option>
                    <mat-option [value]="'tarjetaForm'">
                      Otra tarjeta
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-accordion *ngIf="formaPagoSelect == 'tarjetaForm'">
                  <mat-expansion-panel class="w-75">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Complete datos de facturación
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="d-flex flex-column">

                      <h6 class="mt-4">Datos de tarjeta</h6>
                      <mat-divider class="mb-3"></mat-divider>
                      <mat-form-field>
                        <mat-select placeholder="Tipo de tarjeta">
                          <mat-option [value]="1">
                            Mastercard
                          </mat-option>
                          <mat-option [value]="2">
                            Visa
                          </mat-option>
                          <mat-option [value]="3">
                            Amex
                          </mat-option>
                          <mat-option [value]="4">
                            Cabal
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Nombre en tarjeta">
                      </mat-form-field>

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Numero">
                      </mat-form-field>

                      <mat-form-field floatLabel="never">
                        <input matInput [matDatepicker]="myDatepicker" placeholder="Fecha de vencimiento" disabled>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker disabled="false" touchUi="true"></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Codigo de seguridad">
                      </mat-form-field>

                      <h6 class="mt-4">Dirección de facturación</h6>
                      <mat-divider class="mb-3"></mat-divider>
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Calle y altura">
                      </mat-form-field>


                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Ciudad">
                      </mat-form-field>


                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Estado/Provincia">
                      </mat-form-field>


                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Codigo postal">
                      </mat-form-field>

                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="Telefono particular">
                      </mat-form-field>

                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-4">
            <div class="row border border-dark justify-content-center p-3">
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Subtotal:</label>
                <span>$ 2000.00</span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2 m-0">
                <label>Costo de envio:</label>
                <span> $ 200 </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Descuentos:</label>
                <span> - </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Total:</label>
                <span> - </span>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <button matStepperNext class="btn btn-block btn-elegant waves-light font-weight-bold">
                CONTINUAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-step>


    <!-- PASO 4 CONFIRMAR COMPRA -->
    <mat-step label="CONFIRMAR COMPRA">
      <div class="container">
        
        <div class="row pt-5">

          <div class="col-12 col-lg-8 d-flex flex-column">
            <section class="mb-3 mt-3">
              <h6>CARRITO</h6>
              <mat-divider class="mb-4"></mat-divider>
              <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
            </section>
            <section class="mb-3 mt-3">
              <h6>FORMA DE ENTREGA</h6>
              <mat-divider class="mb-4"></mat-divider>
              <div class="d-flex d-row justify-content-between h-50">
                <span class="alert alert-dark w-50 d-flex justify-content-center align-items-center">Entrega a domicilio</span>
                <span class="alert alert-dark">Defensa 7010, San Telmo</span>
              </div>
            </section>
            <section class="mb-3 mt-3">
              <h6>MEDIO DE PAGO</h6>
              <mat-divider class="mb-4"></mat-divider>
              <div class="d-flex d-row justify-content-between h-50">
                <span class="alert alert-dark w-50 d-flex justify-content-center align-items-center">Tarjeta</span>
                <span class="alert alert-dark">Visa terminada en ...5631</span>
              </div>
            </section>
            <section class="mb-3 mt-3">
              <h6>DESCUENTOS</h6>
              <mat-divider class="mb-4"></mat-divider>
              <div class="d-flex d-row justify-content-between">
                <mat-form-field class="w-50">
                    <input matInput placeholder="Cupon de descuento">
                </mat-form-field>
                <button mat-button mat-raised-button>APLICAR DESCUENTO</button>
              </div>
            </section>
          </div>

          <div class="col-12 col-lg-4 sticky-top">
            <div class="row border border-dark justify-content-center p-3">
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Subtotal:</label>
                <span>$ 2000.00</span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2 m-0">
                <label>Costo de envio:</label>
                <span> $ 200 </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center p-2">
                <label>Descuentos:</label>
                <span> $50 </span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-center alert alert-dark p-2 m-0">
                <label>Total:</label>
                <span> $1500 </span>
              </div>
            </div>
            <div class="row justify-content-center mt-5">
              <button (click)="confirmPurchase()" matStepperNext class="btn btn-block btn-elegant waves-light font-weight-bold sticky-top">
                CONFIRMAR COMPRA
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</section>