<div class="container-fluid blue-gradient">
  <div class="blue-gradient">
    <h2 class="h1-responsive title-playstation white-text">Productos destacados PS4</h2>
    <hr class="my-2">
    <div class="row blue-gradient wrapper">
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card wow fadeInUp">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
          
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  <a class="btn btn-primary btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
          
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card wow fadeInUp">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
          
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  <a class="btn btn-primary btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
          
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card wow fadeInUp">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
          
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  <a class="btn btn-primary btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
          
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card wow fadeInUp">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
          
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Card title</h4>
                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
                  <a class="btn btn-primary btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
          
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid red-gradient">
    <div class="red-gradient">
      <h2 class="h1-responsive title-nintendo white-text">Productos Destacados<img src="../../../../assets/Nintendo.png" class="img-nintendo" /></h2>
      <hr class="my-2">
      <div class="row red-gradient wrapper">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card wow fadeInUp">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-nintendo waves-light" mdbRippleRadius>Button</a>
                    <a class="btn btn-nintendo btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card wow fadeInUp">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-nintendo waves-light" mdbRippleRadius>Button</a>
                    <a class="btn btn-nintendo btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card wow fadeInUp">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-nintendo waves-light" mdbRippleRadius>Button</a>
                    <a class="btn btn-nintendo btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card wow fadeInUp">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-nintendo waves-light" mdbRippleRadius>Button</a>
                    <a class="btn btn-nintendo btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid green-gradient">
      <div class="green-gradient">
        <h2 class="h1-responsive title-xbox white-text">PRODUCTOS DESTACADOS XBOX ONE</h2>
        <hr class="my-2">
        <div class="row green-gradient wrapper">
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card wow fadeInUp">
    
                  <!--Card image-->
                  <div class="view hm-white-slight waves-light" mdbRippleRadius>
                      <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a class="btn btn-xbox waves-light" mdbRippleRadius>Button</a>
                      <a class="btn btn-xbox btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </div>
              
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card wow fadeInUp">
    
                  <!--Card image-->
                  <div class="view hm-white-slight waves-light" mdbRippleRadius>
                      <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a class="btn btn-xbox waves-light" mdbRippleRadius>Button</a>
                      <a class="btn btn-xbox btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </div>
              
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card wow fadeInUp">
    
                  <!--Card image-->
                  <div class="view hm-white-slight waves-light" mdbRippleRadius>
                      <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a class="btn btn-xbox waves-light" mdbRippleRadius>Button</a>
                      <a class="btn btn-xbox btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </div>
              
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card wow fadeInUp">
    
                  <!--Card image-->
                  <div class="view hm-white-slight waves-light" mdbRippleRadius>
                      <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
              
                  <!--Card content-->
                  <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Card title</h4>
                      <!--Text-->
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a class="btn btn-xbox waves-light" mdbRippleRadius>Button</a>
                      <a class="btn btn-xbox btn-circle btn-lg waves-light zoom" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </div>
              
              </div>
          </div>
        </div>
      </div>
    </div>

