<app-loading *ngIf="loading"></app-loading>
<ng-template [ngIf]="us.isLoaded(loading)">
<div class="container-fluid blue-gradient">
  <div class="blue-gradient">
    <h2 class="h1-responsive title-playstation white-text">Productos destacados PS4</h2>
    <hr class="my-2">
    <div class="row blue-gradient wrapper">
        <owl-carousel #owlElementPlaystation
            [options]="carouselOptions"
            [items]="listVideojuegosPlay"
            [carouselClasses]="['owl-carousel', 'owl-theme', 'owl-loaded', 'owl-stage-outer', 'owl-stage', 'row', 'sliding', 'owl-nav', 'owl-prev', 'owl-next']"
            [ngStyle]="{'overflow': 'hidden', 'margin-left': '10px'}">
            <div *ngFor="let product of listVideojuegosPlay" style="height: 500px;">
                <div class="card wow fadeInUp h-100 d-inline-block">

                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <!--<img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">-->
                        <div id="yourElement" [ngStyle]="{
                            'background-image': 'url(&quot;' + product.imagen + '&quot;)',
                            '-webkit-background-size': '100% 100%',
                            '-moz-background-size': '100% 100%',
                            '-o-background-size': '100% 100%',
                            'background-size': '100% 100%',
                            'background-repeat': 'no-repeat',
                            'height': '200px'
                            }">
                            <div *ngIf="!product.tieneStock" class="badge-nostock">Sin Stock</div>
                        </div>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                
                    <div class="card-body">

                        <h4 class="card-title">{{product.titulo}}</h4>

                        <p class="card-text">{{product.descripcion}}</p>
                        <button class="btn btn-primary waves-light" mdbRippleRadius #btnDetalle (click)="verDetalles(product)">Detalles</button>
                        <button class="btn btn-primary btn-circle btn-lg waves-light zoom" [disabled]="!product.tieneStock" (click)="agregarAlCarrito(product)" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                
                </div>
            </div>
        </owl-carousel>
    </div>
  </div>
</div>

<div class="container-fluid red-gradient">
    <div class="red-gradient">
      <h2 class="h1-responsive title-nintendo white-text">Productos Destacados<img src="../../../../assets/Nintendo.png" class="img-nintendo" /></h2>
      <hr class="my-2">
      <div class="row red-gradient wrapper">
            <owl-carousel #owlElementNintendo
            [options]="carouselOptions"
            [items]="listVideojuegosNintendo"
            [carouselClasses]="['owl-carousel', 'owl-theme', 'owl-loaded', 'owl-stage-outer', 'owl-stage', 'row', 'sliding', 'owl-nav', 'owl-prev', 'owl-next']"
            [ngStyle]="{'overflow': 'hidden', 'margin-left': '10px'}">
            <div *ngFor="let product of listVideojuegosNintendo" style="height: 500px;">
                <div class="card wow fadeInUp h-100 d-inline-block">
    
                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <!--<img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">-->
                        <div id="yourElement" [ngStyle]="{
                            'background-image': 'url(&quot;' + product.imagen + '&quot;)',
                            '-webkit-background-size': '100% 100%',
                            '-moz-background-size': '100% 100%',
                            '-o-background-size': '100% 100%',
                            'background-size': '100% 100%',
                            'background-repeat': 'no-repeat',
                            'height': '200px'
                            }">
                            <div *ngIf="!product.tieneStock" class="badge-nostock">Sin Stock</div>
                        </div>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                
                    <div class="card-body">

                        <h4 class="card-title">{{product.titulo}}</h4>

                        <p class="card-text">{{product.descripcion}}</p>
                        <a class="btn btn-nintendo waves-light" mdbRippleRadius (click)="verDetalles(product)">Detalles</a>
                        <button class="btn btn-nintendo btn-circle btn-lg waves-light zoom" [disabled]="!product.tieneStock" (click)="agregarAlCarrito(product)" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                
                </div>
            </div>
        </owl-carousel>
      </div>
    </div>
  </div>

  <div class="container-fluid green-gradient">
      <div class="green-gradient">
        <h2 class="h1-responsive title-xbox white-text">PRODUCTOS DESTACADOS XBOX ONE</h2>
        <hr class="my-2">
        <div class="row green-gradient wrapper">
            <owl-carousel #owlElementXbox
                [options]="carouselOptions"
                [items]="listVideojuegosXbox"
                [carouselClasses]="['owl-carousel', 'owl-theme', 'owl-loaded', 'owl-stage-outer', 'owl-stage', 'owl-nav', 'row', 'sliding', 'owl-nav', 'owl-prev', 'owl-next']"
                [ngStyle]="{'overflow': 'hidden', 'margin-left': '10px'}">
            <div *ngFor="let product of listVideojuegosXbox" style="height: 500px;">
              <div class="card wow fadeInUp h-100 d-inline-block">
    
                  <div class="view hm-white-slight waves-light" mdbRippleRadius>
                      <!--<img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">-->
                      <div id="yourElement" [ngStyle]="{
                        'background-image': 'url(&quot;' + product.imagen + '&quot;)',
                        '-webkit-background-size': '100% 100%',
                        '-moz-background-size': '100% 100%',
                        '-o-background-size': '100% 100%',
                        'background-size': '100% 100%',
                        'background-repeat': 'no-repeat',
                        'height': '200px'
                        }">
                        <div *ngIf="!product.tieneStock" class="badge-nostock">Sin Stock</div>
                    </div>
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
              
                  <div class="card-body">

                      <h4 class="card-title">{{product.titulo}}</h4>

                      <p class="card-text">{{product.descripcion}}</p>
                      <a class="btn btn-xbox waves-light" mdbRippleRadius (click)="verDetalles(product)">Detalles</a>
                      <button class="btn btn-xbox btn-circle btn-lg waves-light zoom" [disabled]="!product.tieneStock" (click)="agregarAlCarrito(product)" mdbTooltip="Agregar al carrito" mdbRippleRadius><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                  </div>
              
              </div>
            </div>
        </owl-carousel>
        </div>
      </div>
    </div>
    </ng-template>
    <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> Ocurrio un error al traer datos de videojuegos.
    </p>
